<app-header></app-header>
<div style="padding-top: 50px;" class=" containerStudio d-flex justify-content-start align-items-center">
  <div class="containerMenu">
    <div class="mt-3">
      <app-menu-studio></app-menu-studio>
    </div>
  </div>
  <div class="containerSettings h-100 ">
    <ng-scrollbar class="w-100 h-100 scrollGeneral" track="all" #scrollable>
      <app-select-user></app-select-user>
      <div class="mx-4 d-flex studioTittle justify-content-start align-items-center">
        <i class="icofont icofont-users-alt-2 mr-2 mb-0 colortext"></i>
        <p class="m-0 colortext mr-5" style="font-size: 18pt;"> {{'accounts' | translate}} </p>
      </div>
      <div class="ml-4 mt-2 d-flex justify-content-start align-items-center">
        <div style="width: 250px;">
          <app-k-input [(model)]="search" (modelChange)=" updateCarousel()" [inputtype]="'text'" [text]="'search'">
          </app-k-input>
        </div>
      </div>
      <div class="companieCarousel" *ngIf="carousel">
        <div class="leftarrow arrow owl-nav owl-prev" (click)="scrolltoleft()">
          <span class="noselect  material-icons">keyboard_arrow_left</span>
        </div>
        <div class="rightarrow arrow owl-nav owl-next" (click)="scrolltoright()">
          <span class="noselect  material-icons">keyboard_arrow_right</span>
        </div> 
        <owl-carousel #companies *ngIf="companiesListActive"
          [options]="{items: 1, margin: 0, dots: false, nav: false, loop: false,  responsive: {'420': {items: 2, margin: 0},'760': {items: 3, margin: 0}, '1200':  {items: 4, margin: 0}}}"
          [carouselClasses]="['owl-theme', 'sliding', 'ml-3', 'align-items-center']">
          <div class="item containerNew NewCompanie" (mouseenter)="activeAddColor = true"
            (mouseleave)="activeAddColor = false" (click)="showEditForm()">
            <div class="h-100 companyItem d-flex  justify-content-center align-items-center flex-column">
              <div class="h-100 d-flex justify-content-center align-items-center">
                <i class="icofont icofont-ui-add" [ngClass]="{'colortext': activeAddColor}"></i>
              </div>
            </div>
          </div>
          <div class="item containerNew" *ngFor="let company of companiesList | search: search ">
            <div class="companyItem d-flex justify-content-center align-items-center flex-column">
              <div class="bannerContainer">
              
              </div>
              <div class="imageContainer" (click)="openCompanyEdit(company)">
                <img src="{{company.logo[1].url}}"
                  style="object-fit: cover; border-radius: 50%; height: 70px; width: 70px;">
              </div>
              <div (click)="openCompanyEdit(company)">
                  <h4 class=" display-1 mt-5 text-center"> {{company.name}} </h4>
                  <p class="m-2 text-center" style="font-size: 10pt;">{{company.description}}</p>
              </div>
              <a href="javascript: void(0)" [routerLink]="['/commerce/shop', company._id]">{{ 'goToStore' | translate }}</a>
            </div>
          </div>
        </owl-carousel>
      </div>
    </ng-scrollbar>
  </div>
</div>

<ng-template #formCompany>
  <app-company-form (endEdition)="endCompanyForm($event)" [company]="company"></app-company-form>
</ng-template>
